<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-end">
      <button
        (click)="closeDialog()"
        type="button"
        class="btn-close"
        aria-label="Close"
      ></button>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h1 class="text-center">Formulario</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <label for="exampleInputEmail1" class="form-label"
          >Correo electronico</label
        >
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu correo electronico</label>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
        <div class="form-floating mb-3">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu contraseña</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <div class="form-floating mb-3">
          <input
            formControlName="nombre"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu nombre</label>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <label for="exampleInputEmail1" class="form-label">Apellidos</label>
        <div class="form-floating mb-3">
          <input
            formControlName="apellido"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu apellido</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <label for="exampleInputEmail1" class="form-label"
          >Numero celular</label
        >
        <div class="form-floating mb-3">
          <input
            formControlName="numeroTelefonoCelular"
            type="text"
            class="form-control"
            id="floatingInput"
            required
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu número telefonico</label>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <label for="exampleInputEmail1" class="form-label">Número casa</label>
        <div class="form-floating mb-3">
          <input
            formControlName="numeroTelefonoCasa"
            type="text"
            class="form-control"
            id="floatingInput"
            required
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu número de la casa</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <label for="exampleInputEmail1" class="form-label"
          >Dirección de residencia</label
        >
        <div class="form-floating mb-3">
          <input
            formControlName="direccion"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu dirección</label>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <label for="exampleInputEmail1" class="form-label">Especialidad</label>
        <div class="form-floating mb-3">
          <select class="form-control" formControlName="idEspecialidad">
            <option [disabled]="true" value="">Selecciona especialidad</option>
            <option
              *ngFor="let especialidad of especialidades"
              id="floatingInput"
              [ngValue]="especialidad.idEspecialidad"
            >
              {{ especialidad.tipo }}
            </option>
          </select>
          <label for="floatingInput">Ingresa tu dirección</label>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <label for="exampleInputEmail1" class="form-label"
          >Numero de identidad</label
        >
        <div class="form-floating mb-3">
          <input
            formControlName="cedula"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Ingresa tu cédula</label>
        </div>
      </div>
    </div>
    <div *ngIf="IsLoading" class="text-center mb-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="d-grid">
      <button
        class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
        type="submit"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
