.button{
  background-color: #13B0F0;
  margin-bottom: 14px;
  color: #fff;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: -10px;
}
