<app-page title="Especialidades">
  <div *ngIf=" rol === 'Administrador' " class="button-container">
    <button mat-raised-button (click)="openDialogCreate()" class="button">AGREGAR ESPECIALIDAD</button>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Identificador</th>
      <td mat-cell class="tdid" *matCellDef="let element">{{ element.idEspecialidad }}</td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td class="tdacciones" mat-cell *matCellDef="let element">
        <button mat-mini-fab class="button-edit" (click)="openDialogUpdate(element)">
          <mat-icon color="">edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteEspecialidad(element.idEspecialidad)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

   <mat-paginator
    [pageSizeOptions]="[5, 8, 25, 50]"
    [pageSize]="8"
    [length]="paginator?.length"
    (page)="getEspecialidades($event.pageIndex, $event.pageSize)"
  >
  </mat-paginator>

</app-page>
