<div class="container-fluid text-center">
  <div class="row row1">
    <div class="col">
      <img src="../../../../../assets/img/logo.png" alt="" class="logo" />
    </div>

    <div class="col-5 col1">
      <a href="" class="navbar-a">Doctores</a>
      <a href="" class="navbar-a">Servicios</a>
      <a href="" class="navbar-a">Sobre nosotros</a>
      <a href="" class="navbar-a">Contacto</a>
      <a href="" class="navbar-a">FAQ</a>
    </div>

    <div class="col-3 col1 language-symbol">
      <div>
        <img
          src="../../../../assets/img/earth-icon.png"
          alt=""
          class="earth-icon"
        />
      </div>

      <div style="padding-top: 5px">
        <span class="current-language">EN</span>
      </div>

      <div style="padding-top: 2px">
        <img src="../../../../assets/img/chevron-down.svg" alt="" />
      </div>
    </div>

    <div class="col col1 login-button-container">
      <button (click)="goto()" class="btn btn-secondary btn-sm login-button">{{buttonName}}</button>
    </div>
  </div>

  <div class="row row2">
    <div class="col col2">
      <div class="mensaje1">
        <span class="main-title">La salud lo es todo, cuídala.</span>
      </div>

      <div class="main-icono-container">
        <div class="icono-container">
          <div class="padding-class1">
            <img
              src="../../../../../assets/img/icono-doctor.png"
              alt=""
              class="icono"
            />
          </div>
          <span class="icon-msg icon-msg1">Sin salir de casa</span>
        </div>

        <div class="icono-container">
          <div class="padding-class2">
            <img
              src="../../../../../assets/img/icono-casa.png"
              alt=""
              class="icono"
            />
          </div>
          <span class="icon-msg icon-msg2"
            >Los mejores profesionales a tu disposición</span
          >
        </div>
      </div>
    </div>

    <div class="col welcome-page-form-container">
      <div class="welcome-page-form">
        <span class="welcome-page-form-msg">Agenda tu cita!</span>

        <form class="form-container">
          <div class="mb-3">
            <input
              type="email"
              class="form-control welcome-page-form-input"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Nombre"
              autocomplete="current-password"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control welcome-page-form-input"
              id="exampleInputPassword2"
              placeholder="E-mail"
              autocomplete="new-password"
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control welcome-page-form-input"
              id="exampleInputPassword3"
              placeholder="Seleccionar Doctor"
              autocomplete="new-password"
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control welcome-page-form-input"
              id="exampleInputPassword1"
              placeholder="Seleccionar Fecha"
              autocomplete="new-password"
            />
          </div>
        
          
          <button 
            type="button"
            class="btn btn-secondary welcome-page-form-submit-btn"
            (click)="goto()"
          >
            Agendar una cita
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row row3">
    <div class="col col3 about-us-container">
      <div class="gap-utility">
        <span class="common-title-styles">Sobre nosotros</span>
        <span class="common-paragraph-styles"
          >El equipo está compuesto por seis personas: Giancarlo, Bryan, Davide, Rosanna, Esleiker y Rossian. Cada uno de ellos aporta habilidades y conocimientos únicos al equipo. Bryan es un líder natural que siempre busca soluciones creativas a los problemas. Giancarlo es un programador talentoso que siempre encuentra maneras de optimizar el código. Davide es un desarrollador especializado en el backend y siempre está dispuesto a ayudar a los demás. Rossian es una persona muy organizada y se asegura de que el equipo esté en línea con los plazos y objetivos. Esleiker es un desarrollador de software hábil y siempre está dispuesto a ayudar a sus compañeros de equipo. Finalmente, Rosanna es un comunicador nato y tiene habilidades interpersonales excepcionales. Juntos, el equipo tiene una gran variedad de habilidades que les permiten trabajar de manera efectiva y lograr los objetivos en conjunto.
        </span>
        <button type="button" class="btn btn-primary start-button">
          Empezar
        </button>
      </div>
    </div>

    <div class="col col3">
      <div class="img-doctor-container"></div>
    </div>
  </div>

  <div class="row row4">
    <div class="col-5 col4 second-doctor-img-container">
      <div class="second-doctor-img"></div>
    </div>

    <div class="col main-why-us-container">
      <div class="why-us-container">
        <span class="common-title-styles why-pick-us">¿Por qué escogernos?</span>
        <span class="common-paragraph-styles why-us-paragraph"
          >En primer lugar, nuestra plataforma es fácil de usar y está diseñada pensando en la comodidad y la accesibilidad de los pacientes. Puedes programar tus citas médicas en línea en cuestión de minutos, sin tener que hacer largas filas o llamar por teléfono.
        </span>

        <div class="commom-checkbox-styles checkbox-container">
          <input
            class="form-check-input form-check-input-cs"
            type="checkbox"
            id="checkboxNoLabel"
            value=""
            aria-label="..."
          />
          <div class="title-and-message-container">
            <span class="why-us-common-title-styles">Personal capacitado</span>
          </div>
        </div>

        <div class="commom-checkbox-styles checkbox-container">
          <input
            class="form-check-input form-check-input-cs"
            type="checkbox"
            id="checkboxNoLabel"
            value=""
            aria-label="..."
          />
          <div class="title-and-message-container">
            <span class="why-us-common-title-styles"
              >Sistema especializado</span
            >

          </div>
        </div>

        <div class="commom-checkbox-styles checkbox-container">
          <input
            class="form-check-input form-check-input-cs"
            type="checkbox"
            id="checkboxNoLabel"
            value=""
            aria-label="..."
          />
          <div class="title-and-message-container">
            <span class="why-us-common-title-styles">Precio absequible</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row5">
    <div class="col contact-us-msg">
      <span class="contact-msg">¡Contactanos si necesitas ayuda!</span>
    </div>

    <div class="col-4 contact-us-btn-container">
      <button class="btn btn-secondary contact-us-btn">Empezar</button>
    </div>
  </div>

  <div class="row row6">
    <div class="col services-title">
      <span>Servicios</span>
    </div>
    <div class="col services-msg">
      <span>
        Los servicios de citas médicas en línea han ganado popularidad en los últimos años debido a la conveniencia y accesibilidad que ofrecen. 
      </span>
    </div>
  </div>

  <div class="row row7">
    <div class="col">
      <div class="services-img"></div>
    </div>
    <div class="col services-text-container">
      <div class="services-text">
        <span class="services-msg"
          > Estos servicios permiten a los pacientes programar citas con médicos y especialistas a través de plataformas digitales, eliminando la necesidad de visitar una clínica o hospital en persona. 
        </span>
        <button class="btn btn-secondary services-btn">Leer más...</button>
      </div>
    </div>
  </div>

  <div class="row row8">
    <div class="row especialistas-titulo-container">
      <div class="col">
        <span class="especialistas-titulo"> Nuestros especialistas </span>
      </div>

      <div class="col arrow-container">
        <img
          src="../../../../../assets/img/arrow-left.svg"
          alt=""
          class="arrow-img"
        />
        <img
          src="../../../../../assets/img/arrow-right.svg"
          alt=""
          class="arrow-img"
        />
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="third-img-container">
        <img
          src="../../../../../assets/img/img3-doctor.png"
          alt=""
          class="img3-doctor"
        />
      </div>

      <div class="img3-identity">
        <span class="name">Carlos Santana</span>
        <span class="profession">Ginecólogo</span>
      </div>
    </div>

    <div class="col">
      <div class="third-img-container">
        <img
          src="../../../../../assets/img/img3-doctor.png"
          alt=""
          class="img3-doctor"
        />
      </div>

      <div class="img3-identity">
        <span class="name">Juan Perez</span>
        <span class="profession">Dentista</span>
      </div>
    </div>


    <div class="col">
      <div class="third-img-container">
        <img
          src="../../../../../assets/img/img3-doctor.png"
          alt=""
          class="img3-doctor"
        />
      </div>

      <div class="img3-identity">
        <span class="name">Carlos Perez</span>
        <span class="profession">Pediatra</span>
      </div>
    </div>
  </div>


  <div class="row row10">
    <div class="col circle-container">
      <span class="circle-long"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
  </div>

  <div class="row row11">
    <div class="col last-container">
      <div class="img-footer-container">
        <img
          src="../../../../../assets/img/logo.png"
          alt=""
          class="row11-img"
        />
      </div>
      <div class="information-container">
        <span>Santo Domingo</span>
        <span>Piantini, Distrito Nacional</span>
        <span>Teléfono: +1 809-893-1020</span>
        <span>Contacto: citasmedicas@gmail.com</span>
      </div>
    </div>

    <div class="col row11-main-container">
      <div class="information-container last-styles">
        <span class="footer-titles">Sobre nosotros</span>
      </div>
      <div class="information-container">
        <span>Nuestra misión y valores</span>
        <span>Transformación</span>
        <span>La diversidad es nuestra especialidad</span>
        <span>Publicaciones y reportes</span>
      </div>
    </div>

    <div class="col row11-main-container">
      <div class="information-container last-styles">
        <span class="footer-titles">Nuestros servicios</span>
      </div>
      <div class="information-container">
        <span>Enfermedades de pulmón</span>
        <span>Ortopédico/a</span>
        <span>Farmacia</span>
        <span>Servicio dental</span>
      </div>
    </div>

    <div class="col row11-main-container">
      <div class="information-container last-styles">
        <span class="footer-titles">Horarios del hospital</span>
      </div>
      <div class="information-container">
        <span>Lunes - Viernes 08:00 - 20:00</span>
        <span>Sábado 09:00 - 18:00</span>
        <span>Sábado 09:00 - 18:00</span>
        <span>Domingo 09:00 - 18:00</span>
      </div>
    </div>
  </div>

  <div class="row row12"></div>
</div>
