table {
  width: 100%;
}

.mat-table{
  background: none;
  border: none;

}

table{
  th{
    background-color: #13B0F0;
    color: white;
    font-size: 14px;

    &:first-child{
      border-top-left-radius: 10px;
    }
    &:last-child{
      border-top-right-radius: 10px;
    }
  }
}

.tdcedula{
  border-left: 1px solid #E5E5E5;
}

.tdacciones{
  border-right: 1px solid #E5E5E5;
}

.button-container{
  padding-bottom: 16px;
}

.button{
  background-color: #13B0F0;
  color: #fff;
}

.button + .button {
  margin-left: 8px;
}
