<div class="container mb-3">
  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>¿Cómo crear una reunión?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Para crear una reunión, debes seguir los siguientes pasos:
        </p>
        <ol>
          <li>
            Accede a la página de Google Meet
            <a href="https://meet.google.com/" target="_blank">https://meet.google.com/</a>
          </li>
          <li>
            Crea una reunión
          </li>
          <li>
            Copia el enlace de la reunión
          </li>
          <li>
            Pega el enlace en el campo de texto
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
  </div>
</div>
