<app-page title="Citas">
  <div class="button-container">
    <button mat-raised-button class="button" (click)="addCreateDialog()">
      CREAR NUEVA CITA
    </button>
    <button mat-raised-button class="button" (click)="openStandbyDialog()">
      CITAS EN ESPERA
    </button>
  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre médico</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef>Apellido médico</th>
      <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>EMAIL</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- fecha desde Column -->
    <ng-container matColumnDef="fechaDesde">
      <th mat-header-cell *matHeaderCellDef>Desde</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaDesde }}</td>
    </ng-container>

    <!-- fecha desde Column -->
    <ng-container matColumnDef="fechaHasta">
      <th mat-header-cell *matHeaderCellDef>Hasta</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaHasta }}</td>
    </ng-container>

    <!-- estatus Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estatus</th>
      <td
        class="tdestatus"
        [ngClass]="{
          'text-success': element.estatus === 'ACEPTADA',
          'text-danger': element.estatus === 'ESPERA' || element.estatus === 'RECHAZADA' || element.estatus === 'CANCELADA' || element.estatus === 'Cancelada'
        }"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.estatus }}
      </td>
    </ng-container>

    <!-- no hay contenido en la tablar -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-page>
