<app-welcome-page-header>








<!--
<header class="header">

  <div class="logo-container">
    <img src="../../../../assets/img/logo.png" alt="" class="logo">
  </div>

  <div class="navbar-container">
    <ul>
      <li>Doctor</li>
      <li>Servicios</li>
      <li>Sobre Nosotros</li>
      <li>Contacto</li>
      <li>FAQ</li>
      <li></li>
    </ul>

    <div class="earth-icon-container">
      <div>
        <img src="../../../../assets/img/earth-icon.png" alt="" class="earth-icon">
      </div>

      <div style="padding-top: 5px">
        <span>EN</span>
      </div> 

      <div style="padding-top: 2px">
        <img src="../../../../assets/img/chevron-down.svg" alt="">
      </div>

    </div>

  </div>
  
  <div></div>

  <div class="div2">
    <button type="button" class="btn btn-secondary btn-lg login-button">
      Login
    </button>
  </div>

</header>

<main>
  <img alt="" class="img1">
</main>
-->