.btn{
  float:right;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn-aceptar{
  background-color: #13B0F0;;
}

.btn-rechazar{
  background-color: #F01313;
}
